body {
  text-align: center;
  font-family: Seagram;
}

h1 {
  color: darkred;
}

img {
  width: 500px;
  border-radius: 80px;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  color:red;
  font-family:Seagram;
   border-radius: 90px;
}
